<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <i class="fa fa-list-ul"></i> 归还书籍列表
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-book"></i> 书籍管理
      </li>
      <li class="active">
          <i class="fa fa-list-ul"></i> 归还书籍列表
      </li>
    </ol>
  </div>
</div>

<br>
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>书名</th>
            <th>作者</th>
            <th>捐赠者</th>
            <th>借阅者</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
              <td><%= book.name %></td>
              <td><%= book.author %></td>
              <td><%= book.donor %></td>
              <td>
                <% if book.current_borrower %>
                  <%= link_to book.current_borrower.true_name , book.current_borrower%>
                <% else %>
                  无
                <% end %>
              </td>
              <td>
                <%= form_for [:admin, book] do |f| %>
                  <%= f.hidden_field :command, value: "CONFIRMRESTITUTE"%>
                  <%= f.submit "确认归还", class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= paginate @books, :outer_window => 2 %>
