<%= form_for(@book) do |f| %>
  <%= render 'error' %>
  <div class="form-group">
    <%= f.label :name , :value => "书籍名称:"%><br>
    <%= f.text_field :name, :class => "form-control", :placeholder => "输入书名" %>
  </div>

  <div class="form-group">
    <%= f.label :author, :value => "作者：" %><br>
    <%= f.text_field :author, :class => "form-control", :placeholder => "输入作者" %>
  </div>

  <div class="form-group">
    <%= f.label :tag, :value => "标签：" %>
    <%= f.text_field :tag, :class => "form-control",:placeholder => "输入标签" %>
  </div>

  <div class="form-group">
    <%= f.label :donor, :value => "捐赠者：" %>
    <%= f.text_field :donor, :class => "form-control",:placeholder => "输入捐赠者姓名" %>
  </div>

  <div class="form-group">
    <%= f.label :donate_time, :value => "捐赠时间：" %>
    <%= f.date_field :donate_time, :class => "form-control",:placeholder => "输入捐赠时间" %>
  </div>

  <div class="form-group">
    <%= f.label :barcode, :value => "条形码：" %>
    <%= f.text_field :barcode, :class => "form-control", :placeholder => "条形码" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-success btn-block", :value => "添加书籍" %>
  </div>
<% end %>