<header class="bar bar-standard bar-header">
  <a class="icon icon-left-nav pull-left" href="/books"></a>
  <h1 class="title">物理系自强书社</h1>
</header>
<nav class="bar bar-tab">
  <a class="tab-item" href="/books">
    <span class="icon icon-home"></span>
    <span class="tab-label">书籍</span>
  </a>
  <a class="tab-item" href="/activities">
    <span class="icon icon-person"></span>
    <span class="tab-label">活动</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">捐赠</span>
  </a>
</nav>
<div class="content">
  <div class="card">
    <h3><%= @book.name %></h3>
    <p>
      <%= @book.author %> 著
      <% if @book.status == "CANBORROW" %>
        <span class="badge badge-primary pull-right">可借</span>
      <% else %>
        <span class="badge badge-negative pull-right">不可借</span>
      <% end %>
    </p>
    <!-- <p class="pull-right"><span class="badge badge-primary">1</span></p> -->
  </div>

  <div class="card">
    <p><%= @book.summary %></p>
  </div>

  <div class="card">
    <center>
      <img src="<%= @book.large_image %>" alt="">
    </center>
  </div>
  <% if @book.status == "CANBORROW" %>
    <div class="content-padded">
      <a class="btn btn-positive btn-block" onclick="javascript:alert('ss')">我要借阅</a>
      <%= link_to "我要借阅", book_reserve_path(@book, command: 'RESERVE'), remote: true, :class=>"btn btn-positive btn-block" %>
    </div>
  <% end %>
</div>
