<!DOCTYPE html>
<html>
<head>
  <title>自强书社</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/ie' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= yield %>
  <% unless current_user.nil? %>
    <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left user-info" id="left-drawer">
        <center>
          <img src="http://tp4.sinaimg.cn/2519839163/180/5683979741/1" alt="" class="logo-img">
          <h4>郭耿瑞</h4>
        </center>
        <hr>
        <ul class="list">
          <li><a href="#" data-ignore="push"><i class="fa fa-book"></i> 我的借阅</a></li>
          <li><a href="/donors/new" data-ignore="push"><i class="fa fa-share"></i> 我要捐赠</a></li>
          <li><a href="#" data-ignore="push"><i class="fa fa-heart"></i> 爱心人士</a></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left user-info" id="left-drawer">
        <center>
          <img src="http://tp4.sinaimg.cn/2519839163/180/5683979741/1" alt="" class="logo-img">
          <h4>未登录</h4>
        </center>
        <hr>
        <ul class="list">
          <li><a href="#" data-ignore="push"><i class="fa fa-heart"></i> 爱心人士</a></li>
          <li><a href="/users/new" data-ignore="push"><i class="fa fa-heart"></i> 登录</a></li>
        </ul>
      </div>
    </div>
  <% end %>
  <div id="content" class="snap-content">
    <%= yield %>
  </div>

  <script>
    var 
    
    // Helper
    $ = function(id){
      return document.getElementById(id);
    },

    // Instance
    snapper = new Snap({
      element: document.getElementById('content')
    }),

    // 
    UpdateDrawers = function(){
      var state = snapper.state(),
        towards = state.info.towards,
        opening = state.info.opening;
      if(opening=='right' && towards=='left'){
        // $('right-drawer').classList.add('active-drawer');
        $('left-drawer').classList.remove('active-drawer');
      } else if(opening=='left' && towards=='right') {
        // $('right-drawer').classList.remove('active-drawer');
        $('left-drawer').classList.add('active-drawer');
      }
    };

    snapper.on('drag', UpdateDrawers);
    snapper.on('animating', UpdateDrawers);
    snapper.on('animated', UpdateDrawers);

    $('toggle-left').addEventListener('click', function(){
      snapper.open('left');
    });
  </script>
</body>
</html>
